<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My Beautiful Blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Welcome to My Beautiful Blog</h1>
    </header>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="#">Blog</a>
        <a href="/about">About</a>
        <a href="#">Contact</a>
    </div>
    <div class="container">
        <div class="post">
            <h2>Blog Post 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla commodo tellus nec bibendum.</p>
        </div>
        <div class="post">
            <h2>Blog Post 2</h2>
            <p>Etiam aliquam, justo a interdum consectetur, ante purus venenatis tellus, eu tincidunt justo sapien a risus.</p>
        </div>
        <div class="post">
            <h2>Blog Post 3</h2>
            <p>Cras eu leo nec elit viverra viverra. Nunc in lacinia arcu. Pellentesque fermentum ligula vitae ante facilisis, eget cursus ante eleifend.</p>
        </div>
    </div>
</body>
</html>
